<!DOCTYPE html>
<html>
<head>
    <title>Groupe de discussion</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Accueil</a></li>
            <li><a href="{{ url_for('chat') }}">Chat</a></li>
            {% if username %}
                <li><a href="{{ url_for('account') }}">Account</a></li>
                <li><a href="{{ url_for('logout') }}">Deconnexion</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Connexion</a></li>
                <li><a href="{{ url_for('register') }}">S'inscrire</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>
    <section>
        {% if username %}
            <h1>Groupe: {{ group.name }}</h1>
            <div class="chat-box" id="chat-box">
                {% for message in messages %}
                    <div class="message" data-message-id="{{ message.id }}" data-username="{{ message.user.username }}">
                        <p><strong>{{ message.user.username }}</strong> <em>{{ message.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</em></p>
                        <p>{{ message.content }}</p>
                    </div>
                {% endfor %}
            </div>
            <form id="message-form">
                <textarea id="message-input" name="message" required></textarea>
                <button type="submit">Envoyer</button>
            </form>
            <p><a href="{{ url_for('chat') }}">retour</a></p>
        {% else %}
            <p>Veuillez-vous connecter pour accéder au groupe</p>
        {% endif %}
    </section>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('join', {'username': "{{ username }}", 'room': "{{ group.id }}"});
        });

        socket.on('message', function(data) {
            $('#chat-box').append('<div class="message" data-message-id="' + data.id + '" data-username="' + data.username + '"><p><strong>' + data.username + '</strong> <em>' + data.timestamp + '</em></p><p>' + data.message + '</p></div>');
        });

        $('#message-form').submit(function(e) {
            e.preventDefault();
            var message = $('#message-input').val();
            var username = "{{ username }}";  // Récupérer le nom d'utilisateur
            var room = "{{ group.id }}";      // Récupérer l'identifiant du groupe
            if (message) {
                socket.emit('message', {'username': username, 'room': room, 'message': message});
                $('#message-input').val('');
            }
        });

        $(document).on('contextmenu', '.message', function(e) {
            e.preventDefault();
            var messageId = $(this).data('message-id');
            var messageUsername = $(this).data('username');
            if (messageUsername === "{{ username }}") {
                if (confirm("Voulez-vous supprimer ce message ?")) {
                    var messageDiv = $(this);
                    $.ajax({
                        url: '/delete_message/' + messageId,
                        type: 'POST',
                        success: function(result) {
                            if (result === '') {
                                messageDiv.remove();
                            }
                        }
                    });
                }
            } else {
                alert("Vous ne pouvez supprimer que vos propres messages.");
            }
        });
    </script>
</body>
<footer>
    <p>2024 © MYR</p>
    <p><a href="{{ url_for('apropos') }}">À propos</a></p>
</footer>
</html>
